<%- include('../partials/header', { title: "All Clients" }) %>

<h2>Client List</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Created At</th>
        </tr>
    </thead>
    <tbody>
        <% clients.forEach(client => { %>
            <tr>
                <td><%= client.fullName %></td>
                <td><%= client.contactEmail %></td>
                <td><%= client.contactNumber %></td>
                <td><%= client.physicalAddress %></td>
                <td><%= client.createdAt.toDateString() %></td>
            </tr>
        <% }) %>
    </tbody>
</table>

<a href="/clients/new" class="btn btn-primary">Add New Client</a>

<%- include('../partials/footer') %>
